In [14]:
import pandas as pd

lokali = pd.read_csv('csv_datoteke/lokali.csv',delimiter = ";")
ocene = pd.read_csv('csv_datoteke/ocene.csv',delimiter = ";")
jedi= pd.read_csv('csv_datoteke/jedi.csv',delimiter = ";")
posebnosti = pd.read_csv('csv_datoteke/posebnosti.csv',delimiter = ";")

In [15]:
lokali

,id,ime,naslov,doplacilo,mesto
0,3175,URBAN&GREEN JAR PIE,Čopova 7,"4,31",LJUBLJANA
1,3186,108,Ajdovščina 7,"3,50",LJUBLJANA
2,1478,ABI FALAFEL,Trubarjeva cesta 40,"4,30",LJUBLJANA
3,1772,AMBIENT,Topniška 29a,"0,00",LJUBLJANA
4,3075,ANDIAMO,Puhova ulica 21,"3,81",PTUJ
...,...,...,...,...,...
350,2956,ŽITO LEON ŠTUKELJ MARIBOR,Trg Leona Štuklja 1,"0,00",MARIBOR
351,2535,ŽITO LJUBLANA ŽELEZNIŠKA (KOLODVOR),Trg OF 7,"0,00",LJUBLJANA
352,2771,ŽITO LJUBLJANA BAVARSKI DVOR,Slovenska cesta 58,"0,00",LJUBLJANA
353,1791,ŽITO LJUBLJANA VODNIK,Vodnikov trg 5,"0,00",LJUBLJANA
354,2322,ŽITO MARIBOR TRG REVOLUCIJE,Trg revolucije 2,"0,00",MARIBOR

In [16]:
ocene

       id  ocena
0    1478      5
1    1772      5
2    3075      3
3    2247      4
4    2924      4
..    ...    ...
323  2956      5
324  2535      5
325  2771      5
326  1791      5
327  2322      4

[328 rows x 2 columns]

In [17]:
jedi

      id_lokala                         jed                      vrsta
0          3186               PEČEN KROMPIR             Vegetarijansko
1          3186                  PREBRANAC              Vegetarijansko
2          3186                     VEGIBAB                Hitra hrana
3          3186                     FALAFEL                Hitra hrana
4          3186            MEHIŠKA TORTILJA                Hitra hrana
...         ...                         ...                        ...
3284       3077     RIŽEVI REZANCI S ŠKAMPI  Celiakiji prijazni obroki
3285       3077         REZANCI Z ZELENJAVO                     Mešano
3286       3077             RIŽ Z ZELENJAVO  Celiakiji prijazni obroki
3287       3077  RIŽEVI REZANCI Z ZELENJAVO  Celiakiji prijazni obroki
3288       3077          RIBJI FILE GONGBAO                       Riba

[3289 rows x 3 columns]

In [18]:
posebnosti

,id_lokala,Študentske ugodnosti,Dostop za invalide (WC),Celiakiji prijazni obroki,Kosilo,Dostava,Vegetarijansko,Odprt ob vikendih,Nov lokal,Pizza,Dostop za invalide,Solata
0,3175,Ne,Ne,Ne,Da,Ne,Da,Da,Da,Ne,Da,Ne
1,3186,Ne,Ne,Ne,Da,Ne,Da,Da,Da,Ne,Ne,Da
2,1478,Ne,Ne,Ne,Da,Ne,Da,Da,Ne,Ne,Da,Ne
3,1772,Ne,Da,Ne,Da,Ne,Da,Da,Ne,Ne,Ne,Ne
4,3075,Ne,Ne,Ne,Da,Ne,Ne,Da,Ne,Ne,Da,Ne
...,...,...,...,...,...,...,...,...,...,...,...,...
350,2956,Ne,Ne,Ne,Da,Ne,Ne,Ne,Ne,Ne,Da,Ne
351,2535,Ne,Ne,Ne,Da,Ne,Ne,Da,Ne,Ne,Da,Ne
352,2771,Ne,Ne,Ne,Ne,Ne,Ne,Da,Ne,Da,Da,Ne
353,1791,Ne,Ne,Ne,Da,Ne,Ne,Ne,Da,Ne,Ne,Ne
354,2322,Ne,Ne,Ne,Da,Ne,Ne,Ne,Ne,Ne,Da,Ne

In [19]:
lokali_in_ocene = pd.merge(lokali, ocene, on= 'id')
lokali_in_ocene

,id,ime,naslov,doplacilo,mesto,ocena
0,1478,ABI FALAFEL,Trubarjeva cesta 40,"4,30",LJUBLJANA,5
1,1772,AMBIENT,Topniška 29a,"0,00",LJUBLJANA,5
2,3075,ANDIAMO,Puhova ulica 21,"3,81",PTUJ,3
3,2247,"AROMA, RESTAVRACIJA IN PIZZERIJA",Ribji trg 2,"3,81",LJUBLJANA,4
4,2924,AULA COFE,Kardeljeva ploščad 5,"0,00",LJUBLJANA,4
...,...,...,...,...,...,...
323,2956,ŽITO LEON ŠTUKELJ MARIBOR,Trg Leona Štuklja 1,"0,00",MARIBOR,5
324,2535,ŽITO LJUBLANA ŽELEZNIŠKA (KOLODVOR),Trg OF 7,"0,00",LJUBLJANA,5
325,2771,ŽITO LJUBLJANA BAVARSKI DVOR,Slovenska cesta 58,"0,00",LJUBLJANA,5
326,1791,ŽITO LJUBLJANA VODNIK,Vodnikov trg 5,"0,00",LJUBLJANA,5
327,2322,ŽITO MARIBOR TRG REVOLUCIJE,Trg revolucije 2,"0,00",MARIBOR,4